h1 {
    color: indigo;
    font-family: Helvetica;
    font-weight: bolder;
    border-style: dashed;
    border-width: 2px 2px 2px 2px;
    border-color: orangered;
    box-align: center;
  }
  h3{
    color: greenyellow;
    text-align: center;
  
  }

 .logo{
      border-style:solid;
  }

  .form{
      text-align: center;
          
     
  }